

.store-list {
	background: $color-6;

	padding: {
		left: 5px;
		right: 5px;
		bottom: 50px;
		// top: 20px;
	}

	min-height: 600px;

	font-size: 0;

	@media all and (max-width: $width-mobile){
		padding: 15px 10px;
	}

	&__count {
		font-family: $font2;
		font-size: 20px;
		padding: 20px 0;
		margin: 0 auto;

		display: block;

		@media all and (max-width: 1110px){
			font-size: 13px;
		}

		@media all and (max-width: $width-mobile){
			text-align: center;
			padding-top: 5px;
		}

		strong {
			font-size: 1.1em;
			font-weight: bold;
			font-family: $font1;
		}

	}

	> div {
		margin: 0 auto;
		max-width: 1240px;
		width: 97%;

		@media all and (max-width: 1300px){
			max-width: 930px;
		}

		@media all and (max-width: 970px){
			max-width: 620px;
		}

		@media all and (max-width: 660px){
			max-width: 320px;
			width: 100%;
		}

	}

}