.store-card {
	font-size: 0;
	margin: 0px 5px 10px;
	padding: 15px 5px 20px;

	display: inline-block;
	width: 100%;
	max-width: 300px;
	min-height: 310px;

	border-radius: 10px;
	background: $color-1;

	text-align: left;
	box-shadow: 1px 1px 1px #999;

	@media all and (max-width: $width-mobile){
		display: block;
		margin: 0 auto 10px;
		min-height: 0px;
	}

	> div, &:before {
		display: inline-block;
		vertical-align: top;
	}

	// ÃCONES
	$categorias: express, bairro, market, hiper, drogaria, posto;
	@for $i from 1 through length($categorias){

		$current: nth($categorias, $i);
		&.#{$current}{
			&:before {
				content: '';
				display: inline-block;
				margin: 0px auto 25px;
				vertical-align: top;
				width: 25px; height: 70px;

				background: $color-1 getUrl("/_img/pin_#{$current}.png") no-repeat;
				background-size: contain;
				padding: 5px;
			}
		}

	}

	> div {
		border-left: 1px solid $color-6;
		font-size: 14px;
		margin-left: 5px;
		padding-left: 10px;
		width: calc(100% - 45px);
	}

	&__title {
		color: $color-3;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 15px;
		word-break: break-word;
		text-overflow: hidden;
		@media all and (min-width: 660px){
			min-height: 50px;
		}
	}

	&__text {
		font-family: $font2;
		line-height: 1.4;
		margin-bottom: 15px;

		min-height: 115px;

		@media all and (max-width: 660px){
			min-height: 0;
		}

		&--description {

			display: none;

			margin-top: 10px;
			margin-bottom: 0;
			padding-top: 10px;
			border-top: 1px solid $color-6;
		}
	}

	&__bt-container {
		height: 75px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@media all and (max-width: $width-mobile){
			height: auto;
		}
	}

	.bt {
		display: inline-block;
		vertical-align: middle;
		border-radius: 35px;
		line-height: 35px;
		margin-bottom: 5px;
		width: 100%; height: 35px;
	}

}